.container {
    
    display: flex;
    flex-wrap:nowrap;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    max-width: 700px;
    margin-left: 20vw;
    margin-right: 20vw;

    
}

.main-bg {
    background-color: rgb(249, 241, 228);
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
   
}

.p {
    padding-top: 40px;
}

.mainBtn {
    background-color: rgb(214, 147, 147);
    margin-top: 100px;
    padding:15px;
    border: none;
    border-radius: 8px;
}


.salon {
    width: max-content;
    border: palevioletred 8px solid;
}