.App {
  background-color: rgb(249, 241, 228);
  background-image: url('./images/ivybg.png');
  background-repeat:no-repeat;
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.image {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}



.slide {
  opacity: 0.5;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: .5s;
  transform: scale(1.01);
}

/* Cards are split into two columns at 992px or smaller */
@media screen and (max-width: 992px) {
  .slider {
    width: 100%;
    height: auto;
  }

  .right-arrow{
    right: 12px;
  font-size: 2rem;
  }

  .left-arrow {
    left: 12px;
    font-size: 2rem;
  }
  
}

/* images are stacked on top of each other at 768px or smaller */
@media screen and (max-width: 768px) {
  .image {
    width: 100%;
    height: auto;
  }

  .right-arrow {
    position: absolute;
    right: 2px;
    font-size: 2rem;
    
  }
  
  .left-arrow {
    position:absolute;
    left: 2px;
    font-size: 2rem;
  }


}