.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  background-color: rgb(249, 241, 228);

  margin: 0 !important;
  padding: 3%;
}

.nav-link {
  text-decoration: none;
}

.nav-link-active {
  text-decoration: none;
}
